<h1>spamster - a demonstration of a naive bayes spam filter</h1>

<p>
  Enter a message below. spamster will use the training set data to determine if that
  message is spam or not.
</p>

<%= form_tag(:controller => "classify", :action => "predict") do %>
  <div class="field">
    <%= label_tag(:content, "Message:") %> <br/>
    <%= text_field_tag(:content) %>
  </div>
  <div class="actions">
    <%= submit_tag("Predict!") %>
  </div>
<% end %>

<p>
  <%= link_to "View and Modify the Training Set", messages_path %>
</p>
